body{
    background: #F6F6FA;
padding: 40px 40px 40px 40px;
font-family: 'Montserrat', sans-serif;
height: 1600px;
}

.ul,ol{
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper{
    background: #FFF;;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
   
}

/* main content */
.main-content{
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.summary{
    color: #161D2A;
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        margin-top: 30px;
        margin-bottom: 8px;

}


/* sidebar */
.sidebar{
    background: #E0EBFE;
box-sizing: border-box;
width: auto;
}

.my-photo{
    margin-left: 25px;
}

.sidebar-content{
padding-left: 40px;
padding-top: 10px;
padding-right: 40px;
box-sizing: border-box;
width: 350px;
}

/* Contacts */


.contacs-title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type{
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.contacts-link{
    color: #2979FF;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
margin-left: 10px;
}

.contacts-item{
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-location{
    margin-left: 8px;
}

.contacts-title{
    margin-left: 8px;
}

.contacts-conteiner{

}
/* skills conteiner */
.skills-conteiner{

    margin-top: 40px;
}
.skills-title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list{
    padding-left: 16px;
}

.skills-list-item{
    color: #161D2A;
font-size: 14px;
font-weight: 400;
line-height: 24px; 
}

/* soft skills */
.soft-skills-conteiner{
    margin-top: 10px;
}

.soft-skills-title{
    color: #161D2A;
font-size: 22px;
font-weight: 700;
line-height: normal;
margin-top: 0px;
margin-bottom: 8px;
}

.soft-skills-list{
    padding-left: 16px;
}

.soft-skills-item{
    color: #161D2A;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

/* main content */
.my-profession{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 20px;
}

.my-name{
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 30px;
}

.my-descr{
    color: #000000;
font-size: 14px;
font-weight: 400;
line-height: 24px; 

}

.my-info{
    margin-bottom: 30px;
}

/* My projects */

.my-project-title{

    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;  
    margin-top: 0;
    margin-bottom: 22px;
}

.my-project-item{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-right: 8px;
    list-style: none;
    margin-bottom: 10px;
}

.project-class{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 8px;
}

.my-projects-list{
    padding-left: 16px;
    margin-bottom: 40px;
}

.my-project-item-link{
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration-line: underline;
}

.my-project-item-tec{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}

.my-projects-conteiner{
    margin-top: 40px;
}

.project-descr{
    color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 8px;
}


/* work expetiance */

.work-experiance-respon{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.work-experiance-title{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 22px;
    margin-bottom: 22px;

}

.work-experiance-company{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;

}

.company-name{
    color: #6D9BF5;
}

.work-experiance-period{
    color: #050505;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;  
    margin-bottom: 8px;
}

.work-experiance-separator{
    color: #000;
}

.work-experiance-duties-list{
}

.work-experiance-duties-item{
    color: #000000;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.work-experiance-conteiner{
    margin-bottom: 12px;
}

/* Education */
.education-conteiner{
    margin-top: 22px;
}

.education-conteiner-top{
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: normal;
}

.education-place{
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 12px;
}

.education-faculty{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.education-period{
    color: #000000;
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.education-period-goit {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 22px;
}

.education-separator{
    color: #000;
}

.education-place-2{
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 12px;
}

.education-place-3 {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 40px;
}

.sertificat-conteiner-top{
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: normal;
margin-bottom: 8px;
margin-top: 48px;
}

.sertificat-conteiner-descr{
    color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}